
<div class="row">
    <div class="jumbotron col-lg-6 col-lg-offset-4 text-center">
        <h1>Master List</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header"><h1>Menu</h1></li>
            <li class="active"><a href="#/create">Create World List</a></li>
            <li class="active"><a href="">Menu Option 2</a></li>
        </ul>
    </div>
    <div class="col-lg-8 col-lg-offset-1">
        <table class="table">
            <thead>
                <trow>
                    <th>Order</th>
                    <th>Family</th>
                    <th>Genus</th>
                    <th>Species</th>
                    <th>Subspecies</th>
                </trow>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

