<div class="row">
    <div class="jumbotron col-lg-6 col-lg-offset-4 text-center">
        <h1>Import Master List</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header"><h1>Menu</h1></li>
            <li class="active"><a href="#/create">Create World List</a></li>
            <li class="active"><a href="">Menu Option 2</a></li>
        </ul>
    </div>
    <div class="col-lg-8 col-lg-offset-1 ">
        <p>In order to initially populate your database with a list of the World's birds you can import a Clement's checklist in csv format. This file can be obtained from <a href="http://www.birds.cornell.edu/clementschecklist/download/" target="_blank">The Cornell Lab of Ornithology</a> Download and save the csv file to your computer and then browse for the file using the "choose file" button below</p>

        <p><input type="file" id="fileinput" jc-file-picker/></p>

        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: {{percentSuccess}}%">
              <span class="sr-only">{{percentSuccess}}% Complete (success)</span>
          </div>
          <div class="progress-bar progress-bar-warning" style="width: {{percentWarning}}%">
            <span class="sr-only">{{percentWarning}}% Complete (warning)</span>
          </div>
          <div class="progress-bar progress-bar-danger" style="width: {{percentError}}%">
            <span class="sr-only">{{percentError}}% Complete (danger)</span>
          </div>
        </div>
        <div class="panel panel-{{successLog.class}}">
            <div class="panel-heading">
                <a href="" ng-click="close(successLog.class)">
                   <h3 class="panel-title">{{successLog.title}}es <span class="badge">{{uploaded.success}}</span></h3>
                </a>
            </div>
            <div class="well" ng-show="panels.{{successLog.class}}_undefined">
                <div class="panel panel-{{successLog.class}}" ng-repeat="errorType in successLog.errorTypes">
                  <div class="panel-heading" >
                      <a href="" ng-click="close(successLog.class, errorType)">
                          <h4 class="panel-title">{{errorType}}
                              <span class="badge">{{successLog.count(errorType)}}</span></h4></a>
                  </div>
                    <div class="well" ng-repeat="item in successLog.errorArray " ng-show="panels.{{successLog.class}}_{{errorType}}">
                      <div class="alert alert-{{successLog.class}}" ng-repeat="bird in item.birds" >
                          {{bird}}
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="panel panel-{{warningLog.class}}">
          <div class="panel-heading">
              <a href="" ng-click="close(warningLog.class)">
                  <h3 class="panel-title">{{warningLog.title}}s <span class="badge">{{warningLog.count()}}</span></h3></a>
          </div>
          <div class="well" ng-show="panels.{{warningLog.class}}_undefined">
              <div class="panel panel-{{warningLog.class}}" ng-repeat="errorType in warningLog.errorTypes">
                  <div class="panel-heading" >
                      <a href="" ng-click="close(warningLog.class, errorType)">
                          <h4 class="panel-title">{{errorType}}s
                              <span class="badge">{{warningLog.count(errorType)}}</span></h4></a>
                  </div>
                  <div class="well" ng-repeat="item in filtered=(warningLog.errorArray | filter:{type:errorType}) " ng-show="panels.{{warningLog.class}}_{{errorType}}">
                      <div class="alert alert-{{warningLog.class}}"  ng-repeat="bird in item.birds" ng-show=true>
                          {{bird.latin_name}} - {{bird.english_name}}
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="panel panel-{{errorLog.class}}">
            <div class="panel-heading">
                <a href="" ng-click="close(errorLog.class)">
                    <h4 class="panel-title">{{errorLog.title}}s <span class="badge">{{errorLog.count()}}</span></h4>
                </a>
            </div>
            <div class="well">
                <div class="panel panel-{{errorLog.class}}" ng-repeat="errorType in errorLog.errorTypes">
                    <div class="panel-heading">
                        <a href="" ng-click="close(errorLog.class, errorType)">
                            <h4 class="panel-title">{{errorType}}s
                                <span class="badge">{{errorLog.count(errorType)}}</span>
                            </h4>
                        </a>
                    </div>
                    <div class="well" ng-repeat="item in filtered=(errorLog.errorArray | filter:{type:errorType})" ng-show="panels.{{errorLog.class}}_{{errorType}}">
                        <div class="alert alert-{{errorLog.class}}" ng-repeat="bird in item.birds">
                            {{bird}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul>
            <li ng-repeat="bird in birdList" >{{bird.latin_name}}</li>
        </ul>
        <div>Number of birds={{numberOfSpecies}}</div>

    </div>
</div>
